<nav class="navbar">
  <div class="navbar-content">
    <div class="logo">
      <span class="logo-text">Movie<span>Nexus</span></span>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a></li>
      <li><a routerLink="/movies" routerLinkActive="active">Películas</a></li>
      <li><a routerLink="/search" routerLinkActive="active">Buscar</a></li>
      <li><a routerLink="/favorites" routerLinkActive="active">Favoritos</a></li>
    </ul>
  </div>
</nav>
